<% include partials/header %>
<div class="container">
	<h4>This is to Help you! use this software ( sorry a simple software ) to your needs.</h4>
	<h4>This Application coverts your old data in EXCEL to MongodDB JSON file format.</h4>
	<h3><strong>In order to do that, Well the EXCEL sheet has to formatted in such a way</strong></h3>
	<img src="/img/git-template.png" class="img-responsive" alt="Example Image">
	<h4>After adding your data, You should add your respective subject you wanna view on your profile.</h4>
</div>