<% include partials/header %>
<div class="row">
	<div class="col-lg-6">
		<div class="container">
			<h1 style="font-size: 7.4vw;">Modern Approach <br>to Result<br>
		Management.<i class="em em-books"></i></h1>
		</div>
	</div>
</div>

