<% include partials/header %>
<div class="row">
	<div class="container">
		<div class="col-lg-6">
			
		</div>
		<div class="col-lg-6">
			<form method="post" action="/teacher-reg">
				<div class="form-group">
				    <label for="exampleInputEmail1">Teachers Login</label>
				    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="">
				    <label for="exampleInputEmail1">Password</label>
				    <input type="password" class="form-control" id="exampleInputEmail1" name="password" placeholder="">
				     <label for="exampleInputEmail1">Confirm Password</label>
				    <input type="password" class="form-control" id="exampleInputEmail1" name="teacher-pass-cnfrm" placeholder="">
			  	</div>
			  	<button class="btn btn-default" type="submit">Submit</button>
			  	
			</form>
		</div>
		
	</div>
</div>