<% include partials/header %>

<div class="row" style="padding-top: 50px;">
	<div class="container">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<form method="post" action="/user-roll-get">
				<div class="form-group">
				    <label for="exampleInputEmail1">University Reg no</label>
				    <input type="number" class="form-control" id="exampleInputEmail1" name="regno" placeholder="eg ( 913115104085 )">
			  	</div>
			  	<button class="btn btn-default" type="submit">Submit</button>
			</form>
		</div>
		<div class="col-lg-4"></div>
	</div>
</div>

